<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!-- <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" /> -->
    <add key="cadenaConexion" value="server=.\SQLEXPRESS; database=PROMOS_DB; integrated security=true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>

  <!-- Necesario para evitar 403.14 en la raíz -->
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Voucher.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
